Repository AhmedTammam/youtube: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --check, jsonlint

.lintstagedrc.json:

{
    "*.{js,ts,tsx}": ["prettier --check"],
    "*.{md}": ["prettier --check"],
    "*.json": ["jsonlint"]
}

- init header component
  src/App.tsx
  src/components/header/index.tsx
  src/components/header/search-bar.tsx
  src/components/header/search-icon.png
  src/components/header/youtube-logo.png
  src/index.tsx
  src/styles/colors.ts
Due: prettier --check

inital video card
  src/components/video-card/index.tsx
Due: prettier --check

- build store, reducer, action and selector -build spinner component - install react-redux
  .env-example
  .gitignore
  package.json
  src/components/spinner/index.tsx
  src/index.tsx
  src/store/index.ts
  src/store/reducers/index.ts
  yarn.lock
Due: prettier --check, jsonlint

setup routing
  src/App.tsx
  src/search-page/index.tsx
  src/search-page/videos-list.tsx
Due: prettier --check

build channel card and fix some style
  src/components/channel-card/index.tsx
  src/components/video-card/index.tsx
  src/types/entities/video.ts
Due: prettier --check

add search functionality and build notFoundPage
  src/components/header/index.tsx
  src/components/header/search-bar.tsx
  src/components/spinner/index.tsx
  src/not-found-page/index.tsx
  src/not-found-page/not-found.jpg
  src/styles/colors.ts
Due: prettier --check

build toast component to handle error UI
  src/components/toast/sad-icon.svg
  src/components/toast/toast.tsx
Due: prettier --check

readme
  README.md
Due: none
